%% == Compiler & other options ==

{erl_opts,
 [warn_unused_import, warn_export_vars, warnings_as_errors, verbose, report, debug_info]}.

%% == Dependencies and plugins ==
{deps, []}.

{plugins, [
    { rebar3_nix, ".*", {git, "https://github.com/erlang-nix/rebar3_nix.git", {tag, "v0.1.1"}}},
    { rebar3_hex, "v7.0.8" },
    { rebar3_ex_doc, "v0.2.23" }
]}.

{ex_doc, [
    {extras, ["LICENSE"]}
]}.
{hex, [
    {doc, #{provider => ex_doc}}
]}.

%% == Releases ==
{relx, [
    {release, {erlandono, "3.0.0"}, []},

    {mode, dev},
    {extended_start_script, true}
]}.

%% == Shell ==
%% apps to auto-boot with `rebar3 shell'; defaults to apps
%% specified in a `relx' tuple, if any.
{shell, [
    {apps, [
        erlandono
    ]}
]}.

%% == Profiles ==
{profiles, [
    %% prod is the default mode when prod
    %% profile is used, so does not have
    %% to be explicitly included like this
    {prod, [
        {relx, [
            %% https://rebar3.org/docs/deployment/releases/#modes
            {mode, prod}
        ]}
    ]},

    {test, [
        {deps, [meck, proper]},
        {ct_opts, [
            {logdir, "_build/test/logs"}
        ]}
    ]}
]}.

%% == Directories ==
{project_app_dirs, ["src/*", "test/*",  "." ]}.

%% == Escript ==
