name: "[Build] erlandono"

on:
  push:
    branches: [ "master" ]
    paths:
      - .github/workflows/**
      - src/**
      - include/**
      - tests/**
      - flake.nix
      - flake.lock
  pull_request:
    branches: [ "master" ]
    paths:
      - .github/workflows/**
      - src/**
      - include/**
      - tests/**
      - flake.nix
      - flake.lock

permissions:
  contents: read

jobs:
  build:
    name: Build and Test
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install Nix
        uses: cachix/install-nix-action@v26
        with:
          # Mostly to avoid GitHub rate limiting
          extra_nix_config: |
            access-tokens = github.com=${{ github.token }}

      - name: Install Nix Cache
        uses: DeterminateSystems/magic-nix-cache-action@main

      - name: "[erlandono] Pure Build"
        run: |
          nix build

      - name: "[erlandono] Test"
        run: |
          nix develop --impure -c rebar3 as test ct
